html,
body {
  font-family: cursive;
  background: #f7f7f7;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#msg {
  position: absolute;
  left: 40px;
  top: 0;
  font-size: 1.5em;
}

#plan {
  margin: 25px 35%;
  width: 400px;
}

.room {
  position: relative;
  border: black 5px solid;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.room:before {
  /* window */
  content: '';
  position: absolute;
}

.room:after {
  /* door */
  content: '';
  position: absolute;
}

.roomName {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 1.2em;
  color: #1658f4;
}

.vl {
  border-left: 6px solid green;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.start {
  position: relative;
  top: 53px;
  left: -20px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #ad1a06;
}

/******************************************/
/*  BULB                                  */
/******************************************/
.simple-bulb {
  visibility: hidden;
  position: absolute;
  right: -10px;
  top: 2px;
  width: 50px;
}

.base {
  position: relative;
  top: 0;
  left: 0;
  height: 5px;
  width: 15px;
  border-radius: 90px 90px 0 0;
  -moz-border-radius: 90px 90px 0 0;
  -webkit-border-radius: 90px 90px 0 0;
  background: #424242;
}

.base:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  height: 5px;
  width: 25px;
  border-radius: 30px 30px 0 0;
  -moz-border-radius: 30px 30px 0 0;
  -webkit-border-radius: 30px 30px 0 0;
  border-bottom: 2px solid #aaa;
  background: #424242;
}

.base:after {
  content: '';
  position: absolute;
  top: 12px;
  left: -5px;
  height: 5px;
  width: 25px;
  border-bottom: 2px solid #aaa;
  background: #424242;
}

.light {
  position: relative;
  top: 14px;
  left: -5px;
  height: 5px;
  width: 25px;
  background: #f9f981;
}

.light:after {
  content: '';
  position: absolute;
  top: 4px;
  left: -7px;
  height: 30px;
  width: 40px;
  border-radius: 35px 35px 50px 50px;
  -moz-border-radius: 35px 35px 50px 50px;
  -webkit-border-radius: 35px 35px 50px 50px;
  background: #f9f981;
}

.light:before {
  content: '';
  position: absolute;
  top: 20px;
  left: 0;
  height: 8px;
  width: 8px;
  border-radius: 90px 40px 90px 40px;
  -moz-border-radius: 90px 40px 90px 40px;
  -webkit-border-radius: 90px 40px 90px 40px;
  background: #fcffc1;
  z-index: 1;
}

/******************************************/
/*  ROOMS                                 */
/******************************************/
div[class^='room']:nth-child(2) {
  /*ENTRANCE*/
  left: 0;
  top: 0;
  width: 180px;
  height: 77px;
  border-color: slategray;
  border-left: transparent;
  border-right: transparent;
}

/* Front door (first half)*/
div[class^='room']:nth-child(2):before {
  left: -2px;
  bottom: -2px;
  height: 33px;
  width: 25px;
  border-width: 3px 2px 2px 2px;
  border-style: double solid solid solid;
  border-color: slategray slategray slategray transparent;
  border-radius: 0 0 27px 0;
  -moz-border-radius: 0 0 27px 0;
  -webkit-border-radius: 0 0 27px 0;
}

/* Front door (SECOND half)*/
div[class^='room']:nth-child(2):after {
  top: -2px;
  left: -2px;
  height: 33px;
  width: 25px;
  border-width: 2px 2px 3px 2px;
  border-style: solid solid double solid;
  border-color: slategray slategray slategray transparent;
  border-radius: 0 27px 0 0;
}

/*LOCKERS*/
div[class^='room']:nth-child(3) {
  left: 180px;
  top: -87px;
  width: 390px;
  height: 150px;
  border-color: slategray;
  border-left: transparent;
  border-right: transparent;
  line-height: 100px; /* FIXME: center text */
}

div[class^='room']:nth-child(3):after {
  right: 25px;
  bottom: -5px;
  height: 30px;
  width: 30px;
  border-width: 2px 2px 6px 3px;
  border-style: solid solid solid double;
  border-color: black black #f7f7f7 black;
  border-radius: 0 32px 0 0;
  -moz-border-radius: 0 32px 0 0;
  -webkit-border-radius: 0 32px 0 0;
}

div[class^='room']:nth-child(3):before {
  left: 25px;
  bottom: -5px;
  height: 30px;
  width: 30px;
  border-width: 2px 2px 6px 3px;
  border-style: solid solid solid double;
  border-color: black black #f7f7f7 black;
  border-radius: 0 32px 0 0;
  -moz-border-radius: 0 32px 0 0;
  -webkit-border-radius: 0 32px 0 0;
}

/*JITHEN*/

div[class^='room']:nth-child(4) {
  left: 1px;
  top: -165px;
  width: 177px;
  height: 200px;
  line-height: 100px;
  border-color: slategray;
}

div[class^='room']:nth-child(4):after {
  right: -5px;
  bottom: 10%;
  height: 30px;
  width: 30px;
  border-width: 2px 5px 3px 2px;
  border-style: solid solid double solid;
  border-color: black #f7f7f7 black black;
  border-radius: 32px 0 0 0;
  -moz-border-radius: 32px 0 0 0;
  -webkit-border-radius: 32px 0 0 0;
}

/*hub room*/

div[class^='room']:nth-child(5) {
  left: 1px;
  top: -169px;
  width: 177px;
  height: 211px;
  line-height: 100px;
  border-color: slategray;
}

div[class^='room']:nth-child(5):after {
  right: -5px;
  bottom: 10%;
  height: 30px;
  width: 30px;
  border-width: 2px 5px 3px 2px;
  border-style: solid solid double solid;
  border-color: black #f7f7f7 black black;
  border-radius: 32px 0 0 0;
  -moz-border-radius: 32px 0 0 0;
  -webkit-border-radius: 32px 0 0 0;
}

/*R-1*/

div[class^='room']:nth-child(6) {
  left: 188px;
  top: -650px;
  width: 947px;
  height: 313px;
  line-height: 290px;
  border-color: slategray;
  border-top: transparent;
  border-left: transparent;
  border-bottom: transparent;
}

/*office1*/

div[class^='room']:nth-child(7) {
  left: 1px;
  top: -506px;
  width: 177px;
  height: 211px;
  line-height: 100px;
  border-color: slategray;
}

div[class^='room']:nth-child(7):after {
  right: -5px;
  bottom: 10%;
  height: 30px;
  width: 30px;
  border-width: 2px 5px 3px 2px;
  border-style: solid solid double solid;
  border-color: black #f7f7f7 black black;
  border-radius: 32px 0 0 0;
  -moz-border-radius: 32px 0 0 0;
  -webkit-border-radius: 32px 0 0 0;
}

/*R-2*/

div[class^='room']:nth-child(8) {
  left: 188px;
  top: -905px;
  width: 947px;
  height: 226px;
  line-height: 150px;
  border-color: slategray;
  border-top: transparent;
  border-left: transparent;
  border-bottom: transparent;
}

/*office2*/

div[class^='room']:nth-child(9) {
  left: 0.9px;
  top: -756px;
  width: 177px;
  height: 251px;
  line-height: 100px;
  border-color: slategray;
}

div[class^='room']:nth-child(9):after {
  right: -5px;
  bottom: 10%;
  height: 30px;
  width: 30px;
  border-width: 2px 5px 3px 2px;
  border-style: solid solid double solid;
  border-color: black #f7f7f7 black black;
  border-radius: 32px 0 0 0;
  -moz-border-radius: 32px 0 0 0;
  -webkit-border-radius: 32px 0 0 0;
}

/*R-3*/

div[class^='room']:nth-child(10) {
  left: 188px;
  top: -1186px;
  width: 947px;
  height: 216px;
  line-height: 190px;
  border-color: slategray;
  border-top: transparent;
  border-left: transparent;
  border-bottom: transparent;
}

/*R-4*/

div[class^='room']:nth-child(11) {
  left: 188px;
  top: -1237px;
  width: 947px;
  height: 216px;
  line-height: 190px;
  border-color: slategray;
  border-top: transparent;
  border-left: transparent;
}

/*DEV-ROOM*/

div[class^='room']:nth-child(12) {
  left: 550px;
  top: -2213px;
  width: 580px;
  height: 150px;
  line-height: 100px;
  border-color: slategray;

  .table {
    border: 3px solid #000;
  }

  .table-island {
    position: absolute;
  }

  .table-area {
    display: inline-grid;
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: repeat(2, 25px);
    grid-gap: 10px;
    grid-template-areas:
      'table table table'
      '. seat .';
    vertical-align: top;
  }

  .table-area.rotate-180 {
    grid-template-areas:
      '. seat .'
      'table table table';
  }

  .table {
    background: lightgray;
    grid-area: table;
  }

  .island-marketing {
    top: 10px;
    right: 0;
  }

  .island-studio {
    right: 0;
    top: 300px;
  }

  .island-editorial-4 {
    right: 0;
    top: 13px;
    width: 528px;
    line-height: 30px;
  }
}

div[class^='room']:nth-child(12):after {
  left: -37px;
  bottom: 30%;
  height: 30px;
  width: 30px;
  border-width: 2px 5px 3px 2px;
  border-style: solid solid double solid;
  border-color: black #f7f7f7 black black;
  border-radius: 32px 0 0 0;
  -moz-border-radius: 32px 0 0 0;
  -webkit-border-radius: 32px 0 0 0;
}

/*ca-1*/

div[class^='room']:nth-child(13) {
  left: 260px;
  top: -2200px;
  width: 251px;
  height: 150px;
  line-height: 30px;
  border-bottom: transparent;
  border-top: transparent;

  .table {
    border: 3px solid #000;
  }

  .table-island {
    position: absolute;
  }

  .table-area {
    display: inline-grid;
    grid-template-columns: repeat(3, 35px);
    grid-template-rows: repeat(2, 29px);
    grid-gap: 9px;
    grid-template-areas:
      'table table table'
      '. seat .';
    vertical-align: top;
  }

  .table-area.rotate-180 {
    grid-template-areas:
      '. seat .'
      'table table table';
  }

  .table {
    background: lightgray;
    grid-area: table;
  }
}

/*ca-2*/

div[class^='room']:nth-child(14) {
  left: 260px;
  top: -2180px;
  width: 251px;
  height: 150px;
  line-height: 30px;
  border-bottom: transparent;
  border-top: transparent;

  .table {
    border: 3px solid #000;
  }

  .table-island {
    position: absolute;
  }

  .table-area {
    display: inline-grid;
    grid-template-columns: repeat(3, 35px);
    grid-template-rows: repeat(2, 29px);
    grid-gap: 9px;
    grid-template-areas:
      'table table table'
      '. seat .';
    vertical-align: top;
  }

  .table-area.rotate-180 {
    grid-template-areas:
      '. seat .'
      'table table table';
  }

  .table {
    background: lightgray;
    grid-area: table;
  }
}

/*ca-3*/

div[class^='room']:nth-child(15) {
  left: 260px;
  top: -2157px;
  width: 251px;
  height: 150px;
  line-height: 30px;
  border-top: transparent;
  border-bottom: transparent;

  .table {
    border: 3px solid #000;
  }

  .table-island {
    position: absolute;
  }

  .table-area {
    display: inline-grid;
    grid-template-columns: repeat(3, 35px);
    grid-template-rows: repeat(2, 29px);
    grid-gap: 9px;
    grid-template-areas:
      'table table table'
      '. seat .';
    vertical-align: top;
  }

  .table-area.rotate-180 {
    grid-template-areas:
      '. seat .'
      'table table table';
  }

  .table {
    background: lightgray;
    grid-area: table;
  }
}

/*ca-4*/
div[class^='room']:nth-child(16) {
  left: 260px;
  top: -2134px;
  width: 251px;
  height: 150px;
  line-height: 30px;
  border-top: transparent;
  border-bottom: transparent;

  .table {
    border: 3px solid #000;
  }

  .table-island {
    position: absolute;
  }

  .table-area {
    display: inline-grid;
    grid-template-columns: repeat(3, 35px);
    grid-template-rows: repeat(2, 29px);
    grid-gap: 9px;
    grid-template-areas:
      'table table table'
      '. seat .';
    vertical-align: top;
  }

  .table-area.rotate-180 {
    grid-template-areas:
      '. seat .'
      'table table table';
  }

  .table {
    background: lightgray;
    grid-area: table;
  }
}

/*ca-5*/

div[class^='room']:nth-child(17) {
  left: 260px;
  top: -2079px;
  width: 251px;
  height: 63px;
  line-height: 40px;
  border-bottom: transparent;
  border-top: transparent;
}

/*cb-1*/

div[class^='room']:nth-child(18) {
  left: 552px;
  top: -2877px;
  width: 251px;
  height: 150px;
  line-height: 30px;
  border-top: transparent;
  border-bottom: transparent;

  .table {
    border: 3px solid #000;
  }

  .table-island {
    position: absolute;
  }

  .table-area {
    display: inline-grid;
    grid-template-columns: repeat(3, 35px);
    grid-template-rows: repeat(2, 29px);
    grid-gap: 9px;
    grid-template-areas:
      'table table table'
      '. seat .';
    vertical-align: top;
  }

  .table-area.rotate-180 {
    grid-template-areas:
      '. seat .'
      'table table table';
  }

  .table {
    background: lightgray;
    grid-area: table;
  }
}

/*cb-2*/

div[class^='room']:nth-child(19) {
  left: 552px;
  top: -2859px;
  width: 251px;
  height: 150px;
  line-height: 30px;
  border-top: transparent;
  border-bottom: transparent;

  .table {
    border: 3px solid #000;
  }

  .table-island {
    position: absolute;
  }

  .table-area {
    display: inline-grid;
    grid-template-columns: repeat(3, 35px);
    grid-template-rows: repeat(2, 29px);
    grid-gap: 9px;
    grid-template-areas:
      'table table table'
      '. seat .';
    vertical-align: top;
  }

  .table-area.rotate-180 {
    grid-template-areas:
      '. seat .'
      'table table table';
  }

  .table {
    background: lightgray;
    grid-area: table;
  }
}

/*cb-3*/

div[class^='room']:nth-child(20) {
  left: 552px;
  top: -2836px;
  width: 251px;
  height: 150px;
  line-height: 30px;
  border-bottom: transparent;
  border-top: transparent;

  .table {
    border: 3px solid #000;
  }

  .table-island {
    position: absolute;
  }

  .table-area {
    display: inline-grid;
    grid-template-columns: repeat(3, 35px);
    grid-template-rows: repeat(2, 29px);
    grid-gap: 9px;
    grid-template-areas:
      'table table table'
      '. seat .';
    vertical-align: top;
  }

  .table-area.rotate-180 {
    grid-template-areas:
      '. seat .'
      'table table table';
  }

  .table {
    background: lightgray;
    grid-area: table;
  }
}

/*cb-4*/

div[class^='room']:nth-child(21) {
  left: 552px;
  top: -2813px;
  width: 251px;
  height: 150px;
  line-height: 30px;
  border-top: transparent;
  border-bottom: transparent;

  .table {
    border: 3px solid #000;
  }

  .table-island {
    position: absolute;
  }

  .table-area {
    display: inline-grid;
    grid-template-columns: repeat(3, 35px);
    grid-template-rows: repeat(2, 29px);
    grid-gap: 9px;
    grid-template-areas:
      'table table table'
      '. seat .';
    vertical-align: top;
  }

  .table-area.rotate-180 {
    grid-template-areas:
      '. seat .'
      'table table table';
  }

  .table {
    background: lightgray;
    grid-area: table;
  }
}

/*cb-5*/

div[class^='room']:nth-child(22) {
  left: 552px;
  top: -2748px;
  width: 251px;
  height: 64px;
  line-height: 40px;
  border-top: transparent;

  .table {
    border: 3px solid #000;
  }

  .table-island {
    position: absolute;
  }

  .table-area {
    display: inline-grid;
    grid-template-columns: repeat(3, 35px);
    grid-template-rows: repeat(2, 32px);
    grid-gap: 10px;
    grid-template-areas:
      'table table table'
      '. seat .';
    vertical-align: top;
  }

  .table-area.rotate-180 {
    grid-template-areas:
      '. seat .'
      'table table table';
  }

  .table {
    background: lightgray;
    grid-area: table;
  }

  .island-editorial-1 {
    right: 0;
    left: -140px;
    top: -8px;
    width: 533px;
  }
}

/*cc-1*/

div[class^='room']:nth-child(23) {
  left: 808px;
  top: -3546px;
  width: 251px;
  height: 150px;
  line-height: 30px;
  border-top: transparent;
  border-bottom: transparent;

  .table {
    border: 3px solid #000;
  }

  .table-island {
    position: absolute;
  }

  .table-area {
    display: inline-grid;
    grid-template-columns: repeat(3, 35px);
    grid-template-rows: repeat(2, 29px);
    grid-gap: 9px;
    grid-template-areas:
      'table table table'
      '. seat .';
    vertical-align: top;
  }

  .table-area.rotate-180 {
    grid-template-areas:
      '. seat .'
      'table table table';
  }

  .table {
    background: lightgray;
    grid-area: table;
  }
}

/*cc-2*/

div[class^='room']:nth-child(24) {
  left: 808px;
  top: -3527.5px;
  width: 251px;
  height: 150px;
  line-height: 30px;
  border-bottom: transparent;
  border-top: transparent;

  .table {
    border: 3px solid #000;
  }

  .table-island {
    position: absolute;
  }

  .table-area {
    display: inline-grid;
    grid-template-columns: repeat(3, 35px);
    grid-template-rows: repeat(2, 29px);
    grid-gap: 9px;
    grid-template-areas:
      'table table table'
      '. seat .';
    vertical-align: top;
  }

  .table-area.rotate-180 {
    grid-template-areas:
      '. seat .'
      'table table table';
  }

  .table {
    background: lightgray;
    grid-area: table;
  }
}

/*cc-3*/

div[class^='room']:nth-child(25) {
  left: 808px;
  top: -3505px;
  width: 251px;
  height: 150px;
  line-height: 30px;
  border-top: transparent;
  border-bottom: transparent;

  .table {
    border: 3px solid #000;
  }

  .table-island {
    position: absolute;
  }

  .table-area {
    display: inline-grid;
    grid-template-columns: repeat(3, 35px);
    grid-template-rows: repeat(2, 29px);
    grid-gap: 9px;
    grid-template-areas:
      'table table table'
      '. seat .';
    vertical-align: top;
  }

  .table-area.rotate-180 {
    grid-template-areas:
      '. seat .'
      'table table table';
  }

  .table {
    background: lightgray;
    grid-area: table;
  }
}

/*cc-4*/

div[class^='room']:nth-child(26) {
  left: 808px;
  top: -3482px;
  width: 251px;
  height: 150px;
  line-height: 30px;
  border-top: transparent;
  border-bottom: transparent;

  .table {
    border: 3px solid #000;
  }

  .table-island {
    position: absolute;
  }

  .table-area {
    display: inline-grid;
    grid-template-columns: repeat(3, 35px);
    grid-template-rows: repeat(2, 29px);
    grid-gap: 9px;
    grid-template-areas:
      'table table table'
      '. seat .';
    vertical-align: top;
  }

  .table-area.rotate-180 {
    grid-template-areas:
      '. seat .'
      'table table table';
  }

  .table {
    background: lightgray;
    grid-area: table;
  }
}

/*cc-5*/

div[class^='room']:nth-child(27) {
  left: 808px;
  top: -3422px;
  width: 253px;
  height: 64px;
  line-height: 30px;
  border-top: transparent;
  border-bottom: transparent;

  .table {
    border: 3px solid #000;
  }

  .table-island {
    position: absolute;
  }

  .table-area {
    display: inline-grid;
    grid-template-columns: repeat(3, 35px);
    grid-template-rows: repeat(2, 30px);
    grid-gap: 10px;
    grid-template-areas:
      'table table table'
      '. seat .';
    vertical-align: top;
  }

  .table-area.rotate-180 {
    grid-template-areas:
      '. seat .'
      'table table table';
  }

  .table {
    background: lightgray;
    grid-area: table;
  }

  .island-editorial-1 {
    right: 0;
    left: -128px;
    top: -1px;
    width: 508px;
  }
}

/*ca-5 cubicles design*/

div[class^='room']:nth-child(28) {
  left: 423px;
  top: -3691px;
  width: 230px;
  height: 64px;
  line-height: 30px;
  border-bottom: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;

  .table {
    border: 3px solid #000;
  }

  .table-island {
    position: absolute;
  }

  .table-area {
    display: inline-grid;
    grid-template-columns: repeat(3, 35px);
    grid-template-rows: repeat(2, 32px);
    grid-gap: 10px;
    grid-template-areas:
      'table table table'
      '. seat .';
    vertical-align: top;
  }

  .table-area.rotate-180 {
    grid-template-areas:
      '. seat .'
      'table table table';
  }

  .table {
    background: lightgray;
    grid-area: table;
  }
  .island-editorial-1 {
    right: 0;
    top: 185px;
    width: 528px;
  }
}

/*jithens sir office seats*/

div[class^='room1']:nth-child(2) {
  left: 1px;
  top: -165px;
  width: 177px;
  height: 200px;
  line-height: 100px;

  .table {
    border: 3px solid #000;
  }

  .table-island {
    position: absolute;
  }
  .table-island.rotate-90 {
    transform: rotateZ(270deg);
  }

  .table-area {
    display: inline-grid;
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: repeat(2, 30px);
    grid-gap: 10px;
    grid-template-areas:
      'table table table'
      '. seat .';
    vertical-align: top;
  }

  .table-area.rotate-90 {
    grid-template-areas:
      'table .'
      'table seat'
      'table .';
  }
  .table-area.rotate-180 {
    grid-template-areas:
      '. seat .'
      'table table table';
  }
  .table-area.rotate-270 {
    grid-template-areas:
      '. table'
      'seat table'
      '. table';
  }
  .table {
    background: gray;
    grid-area: table;
  }

  .island-production-1 {
    left: -410px;
    top: -624px;
  }
}

/*OFFICE-2 CUBICLES DESIGN*/

div[class^='room1']:nth-child(3) {
  left: 1px;
  top: -165px;
  width: 177px;
  height: 200px;
  line-height: 100px;

  .table {
    border: 3px solid #000;
  }

  .table-island {
    position: absolute;
  }
  .table-island.rotate-90 {
    transform: rotateZ(270deg);
  }

  .table-area {
    display: inline-grid;
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: repeat(2, 30px);
    grid-gap: 10px;
    grid-template-areas:
      'table table table'
      '. seat .';
    vertical-align: top;
  }

  .table-area.rotate-90 {
    grid-template-areas:
      'table .'
      'table seat'
      'table .';
  }
  .table-area.rotate-180 {
    grid-template-areas:
      '. seat .'
      'table table table';
  }
  .table-area.rotate-270 {
    grid-template-areas:
      '. table'
      'seat table'
      '. table';
  }
  .table {
    background: gray;
    grid-area: table;
  }

  .island-production-1 {
    left: -410px;
    top: -202px;
  }
}

/*OFFICE-3 CUBICLES DESIGN*/

div[class^='room1']:nth-child(4) {
  left: 1px;
  top: -165px;
  width: 177px;
  height: 200px;
  line-height: 100px;

  .table {
    border: 3px solid #000;
  }

  .table-island {
    position: absolute;
  }
  .table-island.rotate-90 {
    transform: rotateZ(270deg);
  }

  .table-area {
    display: inline-grid;
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: repeat(2, 30px);
    grid-gap: 10px;
    grid-template-areas:
      'table table table'
      '. seat .';
    vertical-align: top;
  }

  .table-area.rotate-90 {
    grid-template-areas:
      'table .'
      'table seat'
      'table .';
  }
  .table-area.rotate-180 {
    grid-template-areas:
      '. seat .'
      'table table table';
  }
  .table-area.rotate-270 {
    grid-template-areas:
      '. table'
      'seat table'
      '. table';
  }
  .table {
    background: gray;
    grid-area: table;
  }

  .island-production-1 {
    left: -410px;
    top: 14px;
  }
}

/*OFFICE-1 CUBICLES DESIGN*/

div[class^='room1']:nth-child(5) {
  left: 1px;
  top: -168px;
  width: 177px;
  height: 200px;
  line-height: 100px;

  .table {
    border: 3px solid #000;
  }

  .table-island {
    position: absolute;
  }
  .table-island.rotate-90 {
    transform: rotateZ(270deg);
  }

  .table-area {
    display: inline-grid;
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: repeat(2, 30px);
    grid-gap: 10px;
    grid-template-areas:
      'table table table'
      '. seat .';
    vertical-align: top;
  }

  .table-area.rotate-90 {
    grid-template-areas:
      'table .'
      'table seat'
      'table .';
  }
  .table-area.rotate-180 {
    grid-template-areas:
      '. seat .'
      'table table table';
  }
  .table-area.rotate-270 {
    grid-template-areas:
      '. table'
      'seat table'
      '. table';
  }
  .table {
    background: gray;
    grid-area: table;
  }

  .island-production-1 {
    left: -410px;
    top: -418px;
  }
}


/*extreme right two cubicles design beside cc-3*/

div[class^='room1']:nth-child(6) {
  left: 808px;
  top: -3422px;
  width: 251px;
  height: 64px;
  line-height: 30px;


  .table{
    border: 3px solid #000;
  }
  
  .table-island{
    position: absolute;
  }
  
  
  .table-area{
    display: inline-grid;
    grid-template-columns: repeat(3, 16px);
    grid-template-rows: repeat(2, 29px);
    grid-gap: 10px;
    grid-template-areas: 
      "table table table"
      ". seat .";
    vertical-align: top;
  }
  
  
  .table-area.rotate-180{
    grid-template-areas: 
      ". seat ."
      "table table table"
  }
  
  .table{
    background: lightgray;  
    grid-area: table;
  }
  
  
  .island-editorial-2{
    top: -198px;
    left: 644px;
  }
  
}

/*extreme right single cubicle design in the last corner*/


div[class^='room1']:nth-child(7) {
  left: 808px;
  top: -3422px;
  width: 251px;
  height: 64px;
  line-height: 30px;


  .table{
    border: 3px solid #000;
  }
  
  .table-island{
    position: absolute;
  }
  .table-island.rotate-90{
    transform: rotateZ(360deg);
  }
  
  .table-area{
    display: inline-grid;
    grid-template-columns: repeat(3, 16px);
    grid-template-rows: repeat(2, 30px);
    grid-gap: 10px;
    grid-template-areas: 
      "table table table"
      ". seat .";
    vertical-align: top;
  }
  
  .table-area.rotate-90{
    grid-template-areas: 
      "table ."
      "table seat"
      "table .";
  }
  .table-area.rotate-180{
    grid-template-areas: 
      ". seat ."
      "table table table"
  }
  
  .table{
    background: lightgray;  
    grid-area: table;
  }
  
  
  
  .island-production-1{
    left: 644px;
    top: 185px;
  }
}


/*extreme right second last only two cubicles design beside cc-4*/

div[class^='room1']:nth-child(8) {
  left: 808px;
  top: -3422px;
  width: 251px;
  height: 64px;
  line-height: 30px;

  .table{
    border: 3px solid #000;
  }
  
  .table-island{
    position: absolute;
  }
  
  
  .table-area{
    display: inline-grid;
    grid-template-columns: repeat(3, 16px);
    grid-template-rows: repeat(2, 29px);
    grid-gap: 10px;
    grid-template-areas: 
      "table table table"
      ". seat .";
    vertical-align: top;
  }
  
  
  .table-area.rotate-180{
    grid-template-areas: 
      ". seat ."
      "table table table"
  }
  
  .table{
    background: lightgray;  
    grid-area: table;
  }
  
  
  .island-editorial-2{
    top: -25px;
    left: 645px;
  }
}